<section *ngIf="input1" class="mx-auto w-75 bg-light p-4 shadow">
    <form [formGroup]="forgotForme" (ngSubmit)="forgotPasswords()">
        <label for="email">email</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <button class="btn btn-success w-100 mt-4">Forgot Password</button>
    </form>
</section>


<section *ngIf="input2" class="mx-auto w-75 bg-light p-4 shadow">
    <form [formGroup]="ResetCode" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="btn btn-success w-100 mt-4">Reset Code</button>
    </form>
</section>

<section *ngIf="input3" class="mx-auto w-75 bg-light p-4 shadow">
    <form [formGroup]="ResetPassword" (ngSubmit)="resetPassword()">
        <label for="resetPassword">Reset Password</label>
        <input formControlName="newPassword" type="text" class="form-control" id="resetCode">
        <button class="btn btn-success w-100 mt-4">Reset Password</button>
    </form>
</section>


