<section class="m-4">
    <div class="row justify-content-center">
        <div class="col-md-3">

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide> <img class="w-100" src="../../assets/image/61cSNgtEISL._AC_SY200_.jpg" alt=""></ng-template>  
                <ng-template carouselSlide> <img class="w-100" src="../../assets/image/41nN4nvKaAL._AC_SY200_.jpg" alt=""></ng-template>
              </owl-carousel-o>
           
        </div>
        <div class="col-md-3">
            <img class="w-100" src="../../assets/image/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" alt="">
            <img class="w-100" src="../../assets/image/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" alt="">
        </div>
    </div>
</section>

<section class="my-3">
   
    <owl-carousel-o [options]="categoriesOptions">
      <ng-container *ngFor="let item of Categroies">
        <ng-template carouselSlide>
          <div>
            <img class="w-75" height="250px" [src]="item.image" [alt]="item.name">
            <h3 class="h5">{{item.name}}</h3>
          </div>
        </ng-template>
      </ng-container>
  
    </owl-carousel-o>
    
</section>


<section>
    <input class="form-control mx-auto my-5" type="search" placeholder="search" [(ngModel)]="search" >
    <div class="row g-4">
        <div class="col-md-2" *ngFor="let item of products | search:search ">
            <div class="product">
                <i *ngIf="!wishListData.includes(item._id)" (click)="addHeart(item._id)" class="fa-regular fa-heart heart"></i>
                <i *ngIf="wishListData.includes(item._id)"(click)="removeHeart(item._id)" class="fa-solid fa-heart fa heart text-danger"></i>
                <div class="p-2" [routerLink]="['/details', item._id ]">
                    <img [src]="item.imageCover" class="w-100" alt="">
                <h3 class="h6">{{item.category.name}}</h3>
                <h4 class="h6">{{item.title.split(' ').slice(0,2).join(" ")}}</h4>
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{item.price}} EGP</span>
                    <div>
                        <i class="fas fa-star color"></i>
                        <span class="text-muted">{{item.ratingsAverage}}</span>
                    </div>
                </div>
                </div>
                <button class="btn btn-success btn-style w-100" (click)="addProduct(item._id)" >+Add Product</button>
            </div>

        </div>
    </div>
</section>